<html> 
 <head> 
   <title>Flask Static Demo</title> 
 </head> 
 <body> 
  <center>
   
    <table border="1">
        <tr>
           <td>So:no</td>
           <td>Name</td>
           <td>Number</td>
           <td>S.Id</td>
           <td>Edit</td>
           <td>Delete</td>
        </tr>
       
      
      {% for serial,x in d: %}
        <tr>
            <td>{{serial}}</td>
            <td>{{x.1}}</td>
            <td>{{x.2}}</td>
            <td>{{x.3}}</td>
            <td><a href='/edit/{{x.0}}'>edit</a></td>
            <td><a href='/delete/{{x.0}}'>Delete</a></td>
        </tr>
      {% endfor %}
  


    </table>
    <br>
    <input type="submit" value="submit" >
</form>


</center>

 </body> 
</html> 